.satsuma{
    background-color: crimson;
    padding: 50px;
}
.pinto{
    margin: 0px 10%;
}

.container{
    display: flex;
    height: 200px;
    background: #ffffff; 
    flex-direction: row;
    justify-content: ;
    align-items: ;
    flex-flow: row wrap-reversej;
}

.item1{
    background: #db3434;
    color: white;
    padding: 20px;
    align-self: flex-end;
}

.item2{
    background: #93db34;
    color: white;
    padding: 20px;
}

.item3{
    background: #3498db;
    color: white;
    padding: 20px;
}

.navItens{
    display: flex;
}

header a{
    text-decoration: none;
}

body{
    padding: 0%;
    margin: 0%;
}

.block{
    display: block;
    background-color: blue;
}

.inline{
    display: inline;
    background-color: violet;
}

.inlineblock{
    display: inline-block;
    background-color: salmon;
    width: 200px;
    height: 200px;
}